body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 20px;
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	line-height: 1;
}

#page-container {
    width: clamp(400px, 100%, 2560px);
    height: 100vh;
    display: flex;
    /* border: 1px solid red; */
    margin: 0px auto;
    }

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14rem;
    background-color: rgba(10,10,10, .6);
}
#banner-text {
    color: white;
    font-size: 4rem;
    font-family: 'Amatic SC', cursive;
}

#form-container {
    display: flex;
    flex-direction: column;
    background-color: #F9FAFB;
    flex-basis: 65%;
    justify-content: center;
}

legend {
    float: left;
    padding: 0;
    /* margin-bottom: 1rem; */
}

#side-image {
    background-image: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
    background-size: cover;
    background-position: center;
    flex-basis: 35%;
}

p > label {
    border: 1px solid red;
    width: 50%;
    font-size: .7rem;
    text-transform: uppercase;
    letter-spacing: .2ch;
    color: rgb(51, 51, 51);
}

input {
    width: 180px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    height: 1.5rem;
}
#form-header {
    padding: 2rem;
    max-width: 60ch;
}

fieldset {
    box-shadow: -1px 10px 12px -4px rgba(0,0,0,0.36);
    -webkit-box-shadow: -1px 10px 12px -4px rgba(0,0,0,0.36);
    -moz-box-shadow: -1px 10px 12px -4px rgba(0,0,0,0.36);
    background-color: white;
    border: none;
    margin: 0;
    padding: 2rem;
}

button {
    margin: 2rem;
    padding: 1rem 3rem;
    background-color: #596D48;
    border-radius: .75rem;
    border: none;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1rem;
    color: white;
    box-shadow: -1px 10px 12px -4px rgba(0,0,0,0.36);
    -webkit-box-shadow: -1px 10px 12px -4px rgba(0,0,0,0.36);
    -moz-box-shadow: -1px 10px 12px -4px rgba(0,0,0,0.36);
}

a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}

#login {
    margin-left: 2rem;
    font-size: .9rem;
}

ol, ul {
	list-style: none;
}